/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body, html, .mat-card, mat-card-title, mat-card-subtitle, .mat-card-subtitle {
  font-family: "Andale Mono", serif;
  background-color: #A52A2A; //RGBA(46, 49, 49, 1);
  color: white;
  border-bottom-color: white;
}